@model WebApplication13.Models.Film_text

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Film_text</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Film_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
